*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma,Arial;
}

body{
background:#EEF1F7;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
}

.container{
width:100%;
max-width:900px;
background:white;
border-radius:30px;
padding:40px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.welcome-section{
text-align:center;
margin-bottom:40px;
}

/* الشعار */

.logo{
width:220px;
margin-bottom:30px;
}

.welcome-title{
font-size:36px;
margin-bottom:15px;
color:#2F3443;
font-weight:bold;
}

.welcome-text{
font-size:20px;
color:#555;
line-height:1.8;
}

.user-heading{
text-align:center;
font-size:26px;
color:#566F98;
margin-bottom:25px;
font-weight:bold;
}

.role-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.role-card{
background:#F8F9FC;
border-radius:18px;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
cursor:pointer;
border:2px solid transparent;
transition:0.2s;
}

.role-card:hover{
transform:translateY(-3px);
border-color:#566F98;
}

.role-text h3{
font-size:20px;
margin-bottom:5px;
color:#2F3443;
}

.role-text p{
font-size:14px;
color:#777;
}

.icon{
font-size:35px;
}

.icon{
font-size:35px;
}
